<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Ngrader</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="The open source programming judge.">
        <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Lato|Source+Code+Pro" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/style.css">
        <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-expand-md justify-content-between">
            <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target=".dual-nav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse dual-nav w-100">
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link pl-0" href="/">Home <span class="sr-only">Home</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/problems">Problems</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/admin">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/custom">Custom</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/api">APIs</a>
                    </li>
                </ul>
            </div>
            <div class="d-none d-sm-block"><a href="/" class="navbar-brand mx-auto d-block text-center w-100"><img id="logo" src="/images/ngrader.png"></img></a></div>
            <div class="navbar-collapse collapse dual-nav w-100">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item">
                        <% if (user) { %>
                            <a class="nav-link" href="/logout"><%= user.username %> <i class="fas fa-sign-out-alt"></i></a>
                        <% } else { %>
                            <a class="nav-link" href="/login">Login <i class="fas fa-sign-in-alt"></i></a>
                        <% } %>
                    </li>
                </ul>
            </div>
        </nav>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-xs-12">
                    <h2>Admin Panel</h2>
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#problem">Problems</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#submission">Submissions</a>
                        </li>
                    </ul>
                        
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane container fade" id="problem">
                            <form method="POST" action="/admin/updateprob">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">pid</th>
                                            <th scope="col">Problem Name</th>
                                            <th scope="col">Time Limit</th>
                                            <th scope="col">Memory Limit</th>
                                            <th scope="col">Diff</th>
                                            <th scope="col">Avail</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for(var i=0;i<problem.length;i++) { %>
                                        <tr>
                                            <td><%= problem[i].pid %></td>
                                            <td><%= problem[i].name %></td>
                                            <td><%= problem[i].time_limit %></td>
                                            <td><%= problem[i].memory_limit %></td>
                                            <td><%= problem[i].difficulty %></td>
                                            <td>
                                                <input type="checkbox" name="avail[]" value="<%= problem[i].pid %>"
                                                <% if (problem[i].avail) { %>
                                                    checked
                                                <% } %>
                                                >
                                            </td>
                                        </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                                <button type="submit" class="btn btn-secondary">Update</button>
                            </form>
                        </div>
                        <div class="tab-pane container active" id="submission">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Submit Time</th>
                                        <th scope="col">Problem</th>
                                        <th scope="col">Username</th>
                                        <th scope="col">Lang</th>
                                        <th scope="col">Result</th>
                                        <th scope="col">Time</th>
                                        <th scope="col">Memory</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for(var i=submission.length-1;i>=0;i--) { %>
                                    <tr class="<%= submission[i].result.str.search(/[-X]/g) != -1 ? 'table-danger' : 'table-success' %>">
                                        <td><a href="/admin/submission/<%= submission[i]._id %>" target="_blank" role="button" class="btn btn-secondary">Details</a></td>
                                        <td><%= submission[i].submit_time %></td>
                                        <td><a href="/problems/<%= submission[i].pid %>"><%= problem[submission[i].pid].name %></a></td>
                                        <td><%= submission[i].username %></td>
                                        <td><%= submission[i].lang %></td>
                                        <td><%= submission[i].result.str %></td>
                                        <td><%= submission[i].result.time.toFixed(3) %></td>
                                        <td><%= submission[i].result.memory.toFixed(0) %></td>
                                    </tr>
                                    <% } %>
                                </tbody>
                            </table>  
                        </div>
                    </div>  
                </div>
                <div class="col-md-3 col-xs-12">
                    <div class="side-box">
                        <div style="padding:10px;">
                            <div>
                                <div class="tab"><a href="/admin/newprob" role="button" class="btn btn-secondary tab">New Problem</a></div>
                                <div class="tab"><a href="/admin/deleteallsub" role="button" class="btn btn-secondary tab">Delete All Submission</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </body>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</html>
