<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Ngrader</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Description of the page less than 150 characters">
        <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Lato|Source+Code+Pro" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/style.css">
        <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.37.0/codemirror.min.js'></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.37.0/codemirror.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.37.0/theme/eclipse.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.37.0/theme/monokai.min.css">
        <script src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.37.0/mode/javascript/javascript.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.37.0/mode/clike/clike.min.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.37.0/mode/python/python.min.js'></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.14.0/themes/prism.min.css">
    </head>
    <body>
        <nav class="navbar navbar-default navbar-expand-md justify-content-between">
            <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target=".dual-nav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse dual-nav w-100">
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link pl-0" href="/">Home <span class="sr-only">Home</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/problems">Problems</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">Admin</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/custom">Custom</a>
                    </li>
                </ul>
            </div>
            <div class="d-none d-sm-block"><a href="/" class="navbar-brand mx-auto d-block text-center w-100"><img id="logo" src="/images/ngrader.png"></img></a></div>
            <div class="navbar-collapse collapse dual-nav w-100">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item">
                        <% if (user) { %>
                            <a class="nav-link" href="/logout"><%= user.username %> <i class="fas fa-sign-out-alt"></i></a>
                        <% } else { %>
                            <a class="nav-link" href="/login">Login <i class="fas fa-sign-in-alt"></i></a>
                        <% } %>
                    </li>
                </ul>
            </div>
        </nav>
        <br>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2>Custom Test</h2>
                    <div>
                        <p>Code Editor</p>
                        <form method="post" action="/custom/live">
                            <select class="form-control-sm" name="lang" id="submit-lang-live">
                                <% for(var i=0;i<langlist.length;i++) { %>
                                    <option value="<%= langlist[i].id %>" 
                                        <% if(submitLang == langlist[i].id || (submitLang == null && langlist[i].id == 10)) { %>
                                            selected="selected"
                                        <% } %>
                                        ><%= langlist[i].name %></option>
                                <% } %>
                            </select>
                            <textarea id="live-editor" name="sourcecode"></textarea>
                            <script>
                                var getLang = function(val) {
                                    if (val >= 4 && val <= 17) return 'text/x-c++src';
                                    else if (val >= 34 && val <= 37) return 'python';
                                    else return 'javascript';
                                }
                                language = getLang($( "#submit-lang-live" ).val());
                                myeditor = CodeMirror.fromTextArea(document.getElementById("live-editor"), {
                                    lineNumbers: true,
                                    matchBrackets: true,
                                    styleActiveLine: true,
                                    theme:"monokai",
                                    mode: language
                                });
                                $('#submit-lang-live').on('change', function() {
                                    language = getLang(this.value);
                                    myeditor.setOption("mode", language);
                                    console.log(language);
                                })
                                //myeditor.setOption("mode", language);
                            </script>
                            <br>
                            <p>Input</p>
                            <textarea name="input" style="width: 100%;"></textarea>
                            <br><br>
                            <button type="submit" class="btn btn-secondary">Submit</button>
                        </form>
                        <br>
                        <% if (result) { %>
                            <div class="submission-box">
                                <pre>Source code:</pre>
                                <pre><code class="language-javascript"><%= request.sourcecode %></code></pre>
                                <pre>Input:</pre>
                                <pre style="background-color: #f5f2f0;"><%= request.stdin %></pre>
                                <pre>Output:</pre>
                                <pre style="background-color: #f5f2f0;"><%= result.stdout %></pre>
                                <pre>Time: <%= result.time %> seconds</pre>
                                <pre>Memory: <%= result.memory %> kilobytes</pre>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.14.0/prism.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.14.0/plugins/autoloader/prism-autoloader.min.js"></script>
</html>