<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
        <title>Ngrader</title>
        <meta name="description" content="Description of the page less than 150 characters">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
        <link rel="stylesheet" href="./style.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="#">Ngrader</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>    
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Problems</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <% if (user) { %>
                                <a class="nav-link" href="/logout"><%= user.username %> <i class="fas fa-sign-out-alt"></i></a>
                            <% } else { %>
                                <a class="nav-link" href="/login">Login <i class="fas fa-sign-in-alt"></i></a>
                            <% } %>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-9">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Problem Name</th>
                                <th scope="col">Tags</th>
                                <th scope="col">Solved</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(var i=0;i<problem.length;i++) { %>
                            <tr>
                                <th scope="row"><%= problem[i].pid %></th>
                                <td><a href="/problems/<%= problem[i].pid %>"><%= problem[i].name %></a></td>
                                <td>
                                    <% for(var j=0;j<problem[i].tags.length;j++) { %>
                                        <a href="#" class="badge badge-green"><%= problem[i].tags[j] %></a>
                                    <% } %>
                                </td>
                                <td><%= problem[i].solved %></td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>  
                </div>
                <div class="col-3">
                    <div class="submission-box">
                        <div style="padding:10px;">
                            <div>
                                <div class="tab"><button type="button" class="btn btn-tab">All</button></div>
                                <div class="tab"><button type="button" class="btn btn-tab">Beginner</button></div>
                                <div class="tab"><button type="button" class="btn btn-tab">Intermediate</button></div>
                                <div class="tab"><button type="button" class="btn btn-tab">Professional</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </body>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    </html>
